<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.cabinet.Cabinet.dao.BoardDAO">
<!-- mapper의 namespace에는 연결할 Dao의 경로를 적어주면 자동으로 연결된다-->
	<insert id="insertContent" parameterType="java.util.HashMap">
	<!-- id에는 Dao에서 선언한 메서드의 이름과 같게 설정해야 추상화 메서드를 구체화한 효과를 얻을 수 있다. -->
		insert into TB_BOARD (
			bdNo,
			memID,
			bdTitle,
			bdContent 
		)values(
			#{bdNo},
			#{writer},
			#{bdTitle},
			#{bdContent}
		)
	</insert>
	<insert id="addBoard" parameterType="com.cabinet.Cabinet.dto.BoardDTO">
		insert into TB_BOARD (ctNo, memID, memName, bdTitle, bdContent, bdDate)
		values (#{ctNo}, #{memID}, #{memName}, #{bdTitle}, #{bdContent}, #{writeDate})
	</insert>
	
	<select id="mainBoard" resultType="com.cabinet.Cabinet.dto.BoardDTO">
			SELECT
			*
            FROM
            TB_BOARD
            ORDER BY bdNo desc
	</select>
	
	<select id="mainProduct" resultType="com.cabinet.Cabinet.dto.ProductDTO">
			SELECT
			*
            FROM
            TB_PRODUCT
            ORDER BY bdNo desc
	</select>
	
	<select id="boardNo" parameterType="com.cabinet.Cabinet.dto.BoardDTO" resultType="_int">
		SELECT
			bdNo
		FROM
			TB_BOARD
		WHERE
			memID=#{memID} and bdDate=#{writeDate} and bdTitle=#{bdTitle}
	</select>

	<insert id="addProduct" parameterType="com.cabinet.Cabinet.dto.ProductDTO">
		insert into TB_PRODUCT (bdNo, ctNo, pdName, pdUpDate, pdImg, pdPrice, dealType, memID)
		values (#{bdNo}, #{ctNo}, #{pdName}, #{pdUpDate}, #{pdImg}, #{pdPrice}, #{dealType}, #{memID})
	</insert>


	<select id="getProduct" resultType="com.cabinet.Cabinet.dto.ProductDTO">
		select *
		from TB_PRODUCT
		order by bdNo asc
	</select>
	<select id="getBoard" resultType="com.cabinet.Cabinet.dto.BoardDTO">
            SELECT
			*
            FROM
            TB_BOARD
            ORDER BY bdNo asc
    </select>

	<select id="findAll" resultType="com.cabinet.Cabinet.dto.BoardVO">
		<![CDATA[
		select
			b.bdNo, b.bdTitle, p.pdPrice, p.pdImg, b.bdView
		from
			TB_BOARD as b
		inner join
			TB_PRODUCT as p
		on
			b.bdNo = p.pdNo
		order by b.bdNo desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
  	<update id="updateBoard" parameterType="com.cabinet.Cabinet.dto.BoardDTO">
            update
				TB_BOARD
			set
				ctNo = #{ctNo},
                bdTitle = #{bdTitle},
                bdContent = #{bdContent}
            where
                bdNo = #{bdNo}
    </update>
	<update id="updateProduct" parameterType="com.cabinet.Cabinet.dto.ProductDTO">
		update
			TB_PRODUCT
		set
			ctNo = #{ctNo},
			dealType = #{dealType},
			pdName = #{pdName},
			pdPrice = #{pdPrice},
			pdUpDate = #{pdUpDate}
		where
			bdNo = #{bdNo}
	</update>

	<select id="getBoardWithBdNo" parameterType="_int" resultType="com.cabinet.Cabinet.dto.BoardDTO">
		select *
		from TB_BOARD
		where bdNo = #{bdNo}
	</select>
	<select id="getProductWithBdNo" parameterType="_int" resultType="com.cabinet.Cabinet.dto.ProductDTO">
		select *
		from TB_PRODUCT
		where bdNo = #{bdNo}
	</select>

	<delete id="deleteBoard" parameterType="_int">
            delete
            from
                TB_BOARD
            where
                bdNo = #{bdNo}
    </delete>

	<update id="updateView" parameterType="_int">
		update
			TB_BOARD
		set
			bdView = (bdView + 1)
		where
			bdNo = #{bdNo}
	</update>
		
	<select id="searchBoard" parameterType="string" resultType="_int"> <!-- 메인검색 리스트 -->
		SELECT
			bdNo
		FROM
			TB_BOARD
		WHERE
			(bdTitle LIKE CONCAT('%', #{keyword}, '%') OR bdContent LIKE CONCAT('%', #{keyword}, '%'))
		ORDER BY bdNo DESC
	</select>

	<select id="findAllQnA" resultType="com.cabinet.Cabinet.dto.CsDTO">
		select
			*
		from
			TB_CS

	</select>
	<select id="findMyQnA" parameterType="string" resultType="com.cabinet.Cabinet.dto.CsDTO">
		select
			*
		from
			TB_CS
		where
			memID = #{memID}
	</select>
	<select id="findByCsNo" parameterType="_int" resultType="com.cabinet.Cabinet.dto.CsDTO">
		select
			*
		from
			TB_CS
		where
			csNo = #{csNo}
	</select>

	<insert id="addCs" parameterType="com.cabinet.Cabinet.dto.CsDTO">
		insert into
			TB_CS(csTitle, csContent, csDate, memID)
		values
			(#{csTitle}, #{csContent}, now(), #{memID})
	</insert>
	
	<select id="viewBoard" resultType="com.cabinet.Cabinet.dto.BoardDTO">
		SELECT
			*
        FROM
           TB_BOARD
        ORDER BY 
			bdView desc;
	</select>
	<select id="viewProduct" resultType="com.cabinet.Cabinet.dto.ProductDTO">
		SELECT
			*
        FROM
           TB_PRODUCT
        ORDER BY bdNo desc;
	</select>
</mapper>
