<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabinet.Cabinet.dao.CabinetDAO">
    <select id="findLocation" resultType="com.cabinet.Cabinet.dto.CabinetDTO">
        select
            *
        from
            TB_CABINET
        where
            cnExist = 0 and cnReser = 'CABINET_ADMIN';
    </select>

    <update id="updateCabinet" parameterType="com.cabinet.Cabinet.dto.CabinetDTO">
        update
            TB_CABINET
        set
            pdNo=#{pdNo}, cnPW = #{cnPW}, cnReser = #{cnReser}
        where
            cnNo = #{cnNo}
    </update>
    <update id="reSetCabinet" parameterType="com.cabinet.Cabinet.dto.CabinetDTO">
        update
        TB_CABINET
        set
        pdNo = null, cnPW = 0000, cnReser = "CABINET_ADMIN", cnExist=0
        where
        cnNo = #{cnNo}
    </update>

    <select id="getPassword" resultType="string">
        select
            cnPW
        from
            TB_CABINET
        where
            cnNo = #{cnNo}
    </select>

    <select id="findByPdNo" resultType="_boolean">
        select
            cnExist
        from
            TB_CABINET
        where
            pdNo = #{pdNo}
    </select>
</mapper>