<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabinet.Cabinet.dao.MemberDAO">

	<select id="findAdminByID" parameterType="string" resultType="_int">
		select
			count(*)
		from
			TB_ADMIN
		where
			adID = #{memID}
	</select>

	<update id="checkAnswer" parameterType="_int">
		update
			TB_CS
		set
			csCom = 1
		where
			csNo = #{csNo}
	</update>

	<!-- 회원가입 -->
	<insert id="regMember" parameterType="com.cabinet.Cabinet.dto.MemberDTO">
		insert into TB_MEMBER (memID, memPW, memName, memEmail, memPhone, memAdrs, memBday)
		values (#{memID}, #{memPW}, #{memName}, #{memEmail}, #{memPhone}, #{memAdrs}, #{memBday})
	</insert>

	<!-- 회원정보 수정 -->
	<select id="getMemWithMemNo" parameterType="_int" resultType="com.cabinet.Cabinet.dto.MemberDTO">
		select *
		from TB_MEMBER
		where memNo = #{memNo}
	</select>
	<update id="updateMember"  parameterType="com.cabinet.Cabinet.dto.MemberDTO">
		update
				TB_MEMBER
		set
				memName = #{memName},
				memPw = #{memPW},
                memPhone = #{memPhone},
                memAdrs = #{memAdrs}
        where
                memNo = #{memNo}
	</update>

    <!-- 중복 아이디 조회 -->
	<select id="existById" parameterType="String" resultType="_boolean">
		select if(count(*) >= 1, 1, 0)
		from TB_MEMBER
		where memID = #{id};
	</select>

	<!-- 중복 이메일 조회 -->
	<select id="existByEmail" parameterType="String" resultType="_boolean">
		select if(count(*) >= 1, 1, 0)
		from TB_MEMBER
		where memEmail = #{email};
	</select>

	<!-- 로그인 -->
	<select id="checkLogin" parameterType="com.cabinet.Cabinet.dto.LoginDTO" resultType="_boolean">
		select if(count(*) >= 1, 1, 0)
		from TB_MEMBER
		where memID = #{memID} and memPW = #{memPW};
	</select>

	<select id="loginMember" parameterType="String" resultType="com.cabinet.Cabinet.dto.MemberDTO">
		select *
		from TB_MEMBER
		where memID = #{memID};
	</select>

	<select id="checkAdmin" parameterType="String" resultType="_int">
		select count(*)
		from TB_ADMIN
		where adID = #{memID};
	</select>

	<select id="getProductWithMemID"  parameterType="String" resultType="com.cabinet.Cabinet.dto.ProductDTO">
		SELECT
		*
		FROM
		TB_PRODUCT
		WHERE memID = #{memID}
		ORDER BY bdNo asc
	</select>
	<select id="getMyDeal" parameterType="String" resultType="com.cabinet.Cabinet.dto.ProductDTO">
		select
			*
		from
			TB_PRODUCT
		where
			comOpponent = #{memID}
	</select>

	<select id="getAllMember" resultType="com.cabinet.Cabinet.dto.MemberDTO">
		SELECT
			*
		FROM
			TB_MEMBER
	</select>

	<select id="findId" parameterType="String" resultType="string">
		SELECT
		memID
		FROM
		TB_MEMBER
		WHERE memName = #{name}
		AND
		memEmail = #{email}
	</select>
	<select id="findPw" parameterType="String" resultType="string">
		SELECT
		memPw
		FROM
		TB_MEMBER
		WHERE memID = #{id}
		AND
		memName = #{name}
		AND
		memEmail = #{email}
	</select>

	<delete id="deleteMember" parameterType="_int">
		delete from
			TB_MEMBER
		where
			memNo = #{memNo}
	</delete>

	<update id="updatePOSTCNT" parameterType="string">
		update
			TB_MEMBER
		set
			POSTCNT = (POSTCNT + 1)
		where
			memID = #{memID}
	</update>

	<update id="updateQCNT" parameterType="string">
		update
		TB_MEMBER
		set
			QCNT = (QCNT + 1)
		where
		memID = #{memID}
	</update>
</mapper>