<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabinet.Cabinet.dao.TestDAO">
<!-- namespace : mapper 파일과 연동될 DAO를 선언해주면 된다. -->
<!-- DAO : Data Access Object의 약자로 DB에 접근할 인터페이스들이 선언된다. -->
    <select id="getTestData" resultType="com.cabinet.Cabinet.dto.TestDTO">
        select
            title,
            name
        from
            DB_TEST
    </select>
</mapper>
