<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <div class="blog-header py-3 container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <a href="/">
          <img
                  src="/img/logo.png"
                  alt="로고"
                  class="img-responsive center-block logo"
          />
        </a>
      </div>
      <div class="col-4 text-right">
        <a th:if="${memName != null}" onclick="goToRoom()">채팅방</a>
        <a href="/cs/main">고객센터</a>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
      function goToRoom() {
      var url = '/room'
      var winWidth = 600;
      var winHeight = 650;
      var popupOption = "width=" + winWidth + ", height=" + winHeight;

      window.open(url, "Cabinet QnA", popupOption);
  }
  </script>
</header>

<div th:fragment="admin-header">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Cabinet</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/member/logout" onclick="confirm('로그아웃 하시겠습니까?');">Sign out</a>
    </li>
  </ul>
</div>
</html>