<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <div class="blog-header py-3 container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <a href="/">
          <img
                  src="/img/logo.png"
                  alt="로고"
                  class="img-responsive center-block logo"
          />
        </a>
      </div>
      <div class="col-4 text-right">
        <a href="/cs">고객센터</a>
      </div>
    </div>
  </div>
</header>
</html>