<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="nav">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <div class="dropdown">
            <button
                    class="btn btn-notFocus dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    style="background: none"
            >
              카테고리
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/all">거래 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/hot">핫플레이스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/event">이벤트</a>
        </li>
        <li class="nav-item search_wrap">
          <div class="ml-2 my-1">
            <form
                    th:action="@{search}"
                    style="width: 10rem"
                    method="get"
            >
              <input
                      class="search-input keywordvalue"
                      id="keywordvalue"
                      type="text"
                      placeholder="검색"
                      style="width: 10rem"
                      name="keyword"
              />
              <button class="search-btn fas fa-search" id="search" type="submit"></button>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/login">
            <i class="fas fa-sign-in-alt fa-lg"></i>
          </a>
          <a
                  th:unless="${memName == null}"
                  class="nav-link"
                  href="/member/login"
          >
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/join">
            <i class="fas fa-user-plus fa-lg"></i>
          </a>
          <a
                  th:unless="${memName == null}"
                  class="nav-link"
                  href="/member/mypage"
          >
            <i class="fas fa-user fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</html>
