<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="nav">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <div class="dropdown">
            <button
                    class="btn btn-notFocus dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    style="background: none"
            >
              카테고리
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" th:each="category, now:${categories}" th:text="${category.ctType}" th:href="'/category?ctNo=' + ${category.ctNo}">ctType</a>

            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/all?include=none">거래 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/hot">핫플레이스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/event">이벤트</a>
        </li>
        <li class="nav-item search_wrap">
          <div class="ml-2 my-1">
            <form
                    th:action="@{/search}"
                    style="width: 10rem"
                    method="get"
            >
              <input
                      class="search-input keywordvalue"
                      id="keywordvalue"
                      type="text"
                      placeholder="검색"
                      style="width: 10rem"
                      name="keyword"
              />
              <button class="search-btn fas fa-search" id="search" type="submit"></button>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/login">
            <i class="fas fa-sign-in-alt fa-lg"></i>
          </a>
          <a
                  th:unless="${memName == null}"
                  class="nav-link"
                  href="/member/logout"
          >
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/join">
            <i class="fas fa-user-plus fa-lg"></i>
          </a>
          <a
                  th:if="${memName != null && memName.equals('캐비넷관리자')}"
                  class="nav-link"
                  href="/admin/board"
          >
            <i class="fas fa-user-cog fa-lg"></i>
          </a>
          <a
                  th:if="${memName != null && !memName.equals('캐비넷관리자')}"
                  class="nav-link"
                  href="/member/mypage"
          >
            <i class="fas fa-user fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div th:fragment="admin-nav">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item my-1">
          <a class="nav-link active" href="board">
            <i class="far fa-sticky-note fa-2x mr-1"></i>
            게시글 관리
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link" href="category">
            <i class="fas fa-layer-group fa-2x mr-1"></i>
            카테고리 관리
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link" href="event">
            <i class="far fa-calendar fa-2x mr-1"></i>
            이벤트 관리
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link" href="member">
            <i class="fas fa-users fa-2x mr-1"></i>
            회원 관리
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link" href="cs">
            <i class="far fa-question-circle fa-2x mr-1"></i>
            QnA 관리
          </a>
        </li>
        <li class="nav-item my-1">
          <a class="nav-link" href="location">
            <i class="far fa-map fa-2x mr-1"></i>
            서비스 지역 관리
          </a>
        </li>
      </ul>
    </div>
  </div>
</html>