<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container text-center">
      <h1 class="h5 font-weight-bold my-5 font-weight-normal color-blue my-3">
        Cabinet 목록
      </h1>
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>#</th>
          <th class="text-center">위치</th>
          <th class="text-center">물건 갯수</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody class="cabinetList">
        <!-- th:each 적용 -->
        <tr th:each="cabinet, now:${cabinetList}" th:class="${'cabinetContent' + cabinet.cnNo}">
          <td th:text="${cabinet.cnNo}">cnNo</td>
          <td>
            <a th:text="${cabinet.cnLo}">cnLo</a>
          </td>
          <td>
            <a th:if="${cabinet.cnExist == '1'}">O</a>
            <a th:unless="${cabinet.cnExist == '1'}">X</a>
          </td>
          <td>
            <a th:if="${cabinet.cnReser.equals('CABINET_ADMIN')}"></a>
            <a th:unless="${cabinet.cnReser.equals('CABINET_ADMIN')}"
               th:text="${cabinet.cnReser}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:inline="javascript">
      function checkCabinet(pdNo) {
        $.ajax({
          url:'/cabinet/checkInner',
          data:{'pdNo':pdNo},
          type:'post',
          success: function(data) {
            if(data){
                alert("Cabinet에 물건이 있습니다.")
            }
            else{
                alert("Cabinet에 물건이 없습니다.");
            }
          }
        });
      }
    </script>
  </body>
</html>
