<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cabinet - admin</title>
  <!-- 부트스트랩 -->
  <!-- Bootstrap CSS -->
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
  />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header class="admin-nav navbar navbar-dark sticky-top flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Cabinet</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</header>

<div class="row">
  <nav class="col-2 bg-light sidebar">
    <div th:replace="/fragments/nav.html :: admin-nav"></div>
  </nav>
  <main class="col-9">
    <h1
            class="
                  h5
                  font-weight-bold font-weight-normal
                  color-blue
                  my-3
                  pb-3
                  border-bottom
                "
    >이벤트 관리</h1>
  </main>
</div>
<!-- fontawesome -->
<script
        src="https://kit.fontawesome.com/f97d0d047b.js"
        crossorigin="anonymous"
></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">

      function categoryList() {
           $.ajax({
                url : '/admin/ctList',
                type : 'get',
                success : function(data){
                    var a ='';
                    $.each(data, function(key, value){
                        a += '<tr>';
                        a += '<td>' + value.ctNo + '</td>';
                        a += '<td class="ctType' + value.ctNo + '">' + value.ctType + '</td>';
                        a += '<td class="text-center ctCNT"' + value.ctNo + '>' + value.ctCNT + '</td>';
                        a += '<td><a class="btn btn-notFocus py-0" onclick="categoryUpdate(' + value.ctNo + ')">수정</a></td>';
                        a += '<td><a class="btn btn-notFocus py-0" onclick="categoryDelete(' + value.ctNo + ')">삭제</a></td>';
                        a += '</tr>';
                    });

                    $(".categoryList").html(a);
                }
           });
      }

      function categoryUpdate(ctNo) {
        if(confirm("카테고리를 수정하시겠습니까?")){
            var a = '';
            a += '<td>' + ctNo + '</td>';
            a += '<td><input type="text" class="form-control" name="content_'+ctNo+'" value="'+ $('.ctType'+ctNo).text() +'"/></td>';
            a += '<td class="text-center">' + $('.ctCNT' + ctNo).text() + '</td>';
            a += '<td class="input-group-btn"><button class="btn btn-focus py-0" type="button" onclick="categoryUpdateProc('+ctNo+');">수정</button> </td>';
            a += '<td class="input-group-btn"><button class="btn btn-notFocus py-0" type="button" onclick="categoryList();">취소</button> </td>';
            $('.categoryContent'+ctNo).html(a);
        }
      }

      function categoryUpdateProc(ctNo) {
        var updateContent = $('[name=content_' + ctNo + ']').val();

        $.ajax({
            url: '/admin/ctUpdate',
            type: 'post',
            data: {'ctNo' : ctNo,
                   'ctType' : updateContent},
            success: function(data){
                if(data == 1) categoryList();
            },
            error: function(data){}
        });
      }
      function categoryDelete(ctNo) {
        if(confirm("댓글을 삭제하시겠습니까?")){
            var a ='';

            $.ajax({
                url : '/admin/ctDelete/'+ctNo,
                type : 'post',
                success : function(data){
                    if(data == 1) categoryList(); //댓글 삭제후 목록 출력
                }
            });
          }
      }
</script>
</body>
</html>
