<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<nav class="navbar navbar-light" style="background-color: var(--blue)">
    <div class="navbar-brand" style="color: white">Cabinet</div>
</nav>
<main class="text-center container">
    <div class="row justify-content-center">
        <form
                method="get"
                class="mt-5 text-center completeForm"
                style="float: none; margin: 0 auto"
        >
            <input type="hidden" id="bdNo" th:value="${product.bdNo}"/>
            <input type="hidden" id="type" th:value="${product.dealType}"/>
            <label for="opponent">상대 아이디</label>
            <input type="text" name="opponent" id="opponent" class="form-control"/>
            <br />
            <div class="check_opponent col-12" id="id_check"></div>
            <!-- dealType이 1이면 직거래, 2면 캐비넷 -->
            <div class="completeInfo"></div>
        </form>
    </div>
</main>
<!-- fontawesome -->
<script
        src="https://kit.fontawesome.com/f97d0d047b.js"
        crossorigin="anonymous"
></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
    $("#opponent").blur(function(){
        var oppID = $("#opponent").val();
        var bdNo = $("#bdNo").val();
        $.ajax({
            url:"/member/checkOpponent",
            type: 'post',
            data: {"oppID": oppID},
            success: function(data){
                if(!data) {
                    $("#id_check").text("존재하는 아이디가 없습니다.");
                    $("#id_check").css("color", "red");
                    $("#id_check").attr("disabled",true);

                }
                else{
                    $("#id_check").text("");
                    $("#id_check").attr("disabled",false);

                    const type = $("#type").val();

                    var a = '';
                    if(type == "1"){
                        console.log("직거래");
                        a += '<a class="btn btn-focus directBtn" href="/board/directCom?bdNo='+bdNo+'&oppID='+oppID+'">거래 완료</a>'
                    }
                    else if(type == "2"){
                        console.log("캐비넷");
                        a += '<a class="btn btn-focus" href="/cabinet/comDeal?bdNo='+bdNo+'&oppID='+oppID+'">캐비넷 찾기</a>'
                    }

                    $(".completeInfo").html(a);
                }
            }
        });
    });
    $(".directBtn").click(function(){
        self.close();
    });
</script>
</body>
</html>
