<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/img/logo.ico">
    <title>Cabinet - 고객센터</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="blog-header py-3 container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <a href="index.html">
            <img
              src="./img/logo.png"
              alt="로고"
              class="img-responsive center-block logo"
            />
          </a>
        </div>
        <div class="col-4 text-right">
          <a href="cs.html">고객센터</a>
        </div>
      </div>
    </header>
    <nav class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              style="background: none"
            >
              카테고리
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="story.html">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="deal.html">거래 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hot.html">핫플레이스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="event.html">이벤트</a>
        </li>
        <li class="nav-item search_wrap">
          <div class="ml-2 my-1">
            <form>
              <input
                class="search-input"
                type="text"
                placeholder="검색"
                style="width: 10rem"
              />
              <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="member/login">
          <i class="fas fa-sign-in-alt fa-lg"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/member/join">
          <i class="fas fa-user-plus fa-lg"></i>
        </a>
      </li>
      </ul>
    </nav>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">고객센터</h1>
      <p class="lead">
        Cover is a one-page template for building simple and beautiful home
        pages. Download, edit the text, and add your own fullscreen background
        photo to make it your own.
      </p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">1:1 고객센터 바로가기</a>
      </p>
    </main>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
