<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 고객센터</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">고객센터</h1>

      <p class="lead">
        Cabinet은 1:1 QnA 게시판을 운영하고 있습니다.
        <br>
        아래 버튼을 눌러 문의 사항을 남겨주세요!
      </p>
      <p class="lead">
        <a th:if="${memID == null}" onclick="alert('질문 남기기는 로그인 후 가능합니다.');" class="btn btn-lg btn-focus" style="color:white;">질문 남기기</a>
        <div th:unless="${memID == null}">
          <button class="btn btn-lg btn-focus" style="color:white;" onclick="uploadQnA();">질문 남기기</button>
          <br>
          <button class="btn btn-lg btn-focus my-2" style="color:white;" onclick="qnaList();">질문 확인하기</button>
        </div>

      </p>

    </main>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      function uploadQnA() {
        var url = '/cs/upload';
        var winWidth = 500;
        var winHeight = 520;
        var popupOption = "width=" + winWidth + ", height=" + winHeight;

        var popup = window.open(url, "QnA 등록", popupOption);
      }
      function qnaList() {
        var url = `/cs/list`;
        var winWidth = 600;
        var winHeight = 650;
        var popupOption = "width=" + winWidth + ", height=" + winHeight;

        var popup = window.open(url, "QnA List", popupOption);
      }
    </script>
  </body>
</html>
