<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header class="blog-header py-3 container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <a href="/">
            <img
                    src="/img/logo.png"
                    alt="로고"
                    class="img-responsive center-block logo"
            />
          </a>
        </div>
        <div class="col-4 text-right">
          <a href="/cs">고객센터</a>
        </div>
      </div>
    </header>
    <nav class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <div class="dropdown">
            <button
                    class="btn btn-notFocus dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    style="background: none"
            >
              카테고리
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/intro">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/all">거래 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/hot">핫플레이스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/event">이벤트</a>
        </li>
        <li class="nav-item search_wrap">
          <div class="ml-2 my-1">
            <form>
              <input
                      class="search-input"
                      type="text"
                      placeholder="검색"
                      style="width: 10rem"
              />
              <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/login">
            <i class="fas fa-sign-in-alt fa-lg"></i>
          </a>
          <a
                  th:unless="${memName == null}"
                  class="nav-link"
                  href="/member/login"
          >
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a th:if="${memName == null}" class="nav-link" href="/member/join">
            <i class="fas fa-user-plus fa-lg"></i>
          </a>
          <a
                  th:unless="${memName == null}"
                  class="nav-link"
                  href="/member/mypage"
          >
            <i class="fas fa-user fa-lg"></i>
          </a>
        </li>
      </ul>
    </nav>
    <main class="row justify-content-center">
      <div class="detail col-5 justify-content-center">
        <img
          class="card-img-top"
          th:src="${product.pdImg}"
          alt="Thumbnail [100%x225]"
          style="height: 225px; width: 100%; display: block"
          src="/pdImg"
          data-holder-rendered="true"
        />
        <p class="border-bottom py-3" th:text="${board.bdTitle}">제목</p>
        <p th:text="${product.pdName}" id="pdName">물품명</p>
        <p th:text="${product.pdPrice} + '원'">가격</p>
        <p th:text="${board.bdContent}">설명</p>
        <div th:if="${memID != null}">
          <a class="btn btn-notFocus my-5" name="requestTransaction" style="width: 6rem"
          >거래 요청</a
          >
        </div>
        <div th:if="${board.memID.equals(memID)}">
          <a class="btn btn-notFocus my-5" th:href="@{update(bdNo=${board.bdNo})}" onclick="return confirm('수정을 하시겠습니까?');" style="width: 6rem"
          >판매 완료</a
          >
          <a class="btn btn-notFocus my-5" th:href="@{update(bdNo=${board.bdNo})}" onclick="return confirm('수정을 하시겠습니까?');" style="width: 6rem"
          >수정</a
          >
		  <a class="btn btn-notFocus my-5" th:href="@{delete(bdNo=${board.bdNo})}" onclick="return confirm('삭제를 하시겠습니까?');" style="width: 6rem"
          >삭제</a>
       </div>
      </div>

      <div th:if="${memID != null}"class="container">
        <label for="content">comment</label>
        <form name="commentInsertForm">
          <div class="input-group">
            <p type="hidden" id="replyWriter" th:text="${memID}"></p>
            <input type="hidden" name="bdNo" id="thisBdNo" th:value="${board.bdNo}"/>
            <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요.">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" name="commentInsertBtn">등록</button>
               </span>
          </div>
        </form>
      </div>
      <div th:unless="${memID != null}" class="container">
        <p>거래를 원하신다면 로그인 해주세요!</p>
      </div>

      <div class="container">
        <div class="commentList"></div>
      </div>

    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script th:inline="javascript">
    var bdNo = $("#thisBdNo").val(); //게시글 번호

    $(document).ready(function(){
        commentList(); //페이지 로딩시 댓글 목록 출력
    });

    $('[name=commentInsertBtn]').click(function(){ //댓글 등록 버튼 클릭시
        var insertData = $('[name=commentInsertForm]').serialize(); //commentInsertForm의 내용을 가져옴
        commentInsert(insertData); //Insert 함수호출(아래)
    });

    $('[name=requestTransaction]').click(function(){
        if(confirm("거래를 요청하시겠습니까?")) {
          var roomData = {
              "memID" : $('#replyWriter').text(),
              "pdName" : $('#pdName').text()
          };
          createRoom(roomData);
      }
    });

    function createRoom(roomData) {
          $.ajax({ // 방 만들기
             url: "/dealRoom",
             type: 'post',
             data: roomData,
             success : function(){
                var insertData = {
                    "bdNo" : bdNo,
                    "content" : "제 방에 들어와주세요!"
                }
                commentInsert(insertData)// 댓글 남기기
                window.open("/room");
             },
             error : function(){
                console.log("error at createRoom");
             }
          });
    }

    //댓글 목록
    function commentList(){
        $.ajax({
            url : '/reply/list',
            type : 'get',
            data : {'bdNo':bdNo},
            success : function(data){
                var a ='';
                $.each(data, function(key, value){
                    a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
                    a += '<div class="commentInfo'+value.replyNo+'">'+' 작성자 : '+value.replyWriter;
                    a += '<a onclick="commentUpdate('+value.replyNo+',\''+value.replyContent+'\');"> 수정 </a>';
                    a += '<a onclick="commentDelete('+value.replyNo+');"> 삭제 </a> </div>';
                    a += '<div class="commentContent'+value.replyNo+'"> <p> 내용 : '+value.replyContent +'</p>';
                    a += '</div></div>';
                });

                $(".commentList").html(a);
            }
        });
    }

    //댓글 등록
    function commentInsert(insertData){
        $.ajax({
            url : '/reply/insert',
            type : 'post',
            data : insertData,
            success : function(data){
                if(data == 1) {
                    commentList(); //댓글 작성 후 댓글 목록 reload
                    $('[name=content]').val('');
                }
            },
            error : function(){
                console.log("error at commentInsert");
            }
        });
    }

    //댓글 수정 - 댓글 내용 출력을 input 폼으로 변경
    function commentUpdate(replyNo, content){
        var a ='';

        a += '<div class="input-group">';
        a += '<input type="text" class="form-control" name="content_'+replyNo+'" value="'+content+'"/>';
        a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="commentUpdateProc('+replyNo+');">수정</button> </span>';
        a += '</div>';

        $('.commentContent'+replyNo).html(a);

    }

    //댓글 수정
    function commentUpdateProc(replyNo){
        var updateContent = $('[name=content_'+replyNo+']').val();

        $.ajax({
            url : '/reply/update',
            type : 'post',
            data : {'content' : updateContent, 'replyNo' : replyNo},
            success : function(data){
                if(data == 1) commentList(bdNo); //댓글 수정후 목록 출력
            }
        });
    }

    //댓글 삭제
    function commentDelete(replyNo){
        $.ajax({
            url : '/reply/delete/'+replyNo,
            type : 'post',
            success : function(data){
                if(data == 1) commentList(bdNo); //댓글 삭제후 목록 출력
            }
        });
    }

  </script>
  </body>
</html>
