<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 이벤트</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="row text-center" th:if="${eventList.isEmpty()}">
        <i class="fas fa-exclamation fa-7x my-5 col-12 caution"></i>
        <p class="col-12 font-weight-bold font-italic my-2" style="font-size:2rem; color:gray;">등록된 이벤트가 없습니다.</p>
      </div>
      <div class="card-group row">
        <div class="card col-4 col-sm-6" th:each="event, now : ${eventList}">
            <img
              class="card-img-top"
              th:src="${event.evtImg}"
              alt="image cap"
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${event.evtTitle}">이벤트 제목</h5>
              <p class="card-text" th:text="${event.evtContent}">
                이벤트 내용
              </p>
              <small class="text-muted" th:text="${event.evtDate}">기한</small>
            </div>
        </div>
      </div>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
