<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cabinet - 찾기</title>
  <!-- 부트스트랩 -->
  <!-- Bootstrap CSS -->
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
  />
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<nav class="navbar navbar-light" style="background-color: var(--blue)">
  <div class="navbar-brand" style="color: white">Cabinet</div>
</nav>
<main class="text-center container">
  <input type="hidden" id="type" th:value="${type}"/>
  <!-- id찾기 -->
  <div th:if="${type.equals('id')}">
	  <div class="row justify-content-center">
	    <form
	            method="get"
	            class="mt-5 text-center"
	            style="float: none; margin: 0 auto"
	    >
	   	  <label for="name">이름</label>
	      <input type="text" name="name" id="name" class="form-control" required="required" th:value="${nameValue}"/>
	      <label for="email">이메일</label>
	      <input type="email" name="email" id="email" class="form-control" required="required"  th:value="${emailValue}"/>
	      <br />
	      <button class="btn" type="submit">찾기</button>
	    </form>
	  </div>
	  <div th:if="${namevalue != ''}">
		  <div th:if="${value != null}" class="result mt-5">
		    <p th:text="'아이디는 '+${value}+'입니다'"></p>
		      <br/>
		      <button class="btn" onclick="window.close()">닫기</button>
		  </div>
		  <div th:unless="${value != null}" class="result mt-5">
		  	<p>일치하는 회원이 없습니다.</p>
		      <br/>
		      <button class="btn" onclick="window.close()">닫기</button>
		  </div>
	  </div>
  </div>
  <!-- 비밀번호 찾기 -->
  <div th:unless="${type.equals('id')}">
	  <div class="row justify-content-center">
	    <form
	            method="get"
	            class="mt-5 text-center"
	            style="float: none; margin: 0 auto"
	    >
	      <label for="id">아이디</label>
	      <input type="text" name="id" id="id" class="form-control" required="required" th:value="${idValue}"/>
	   	  <label for="name">이름</label>
	      <input type="text" name="name" id="name" class="form-control" required="required" th:value="${nameValue}"/>
	      <label for="email">이메일</label>
	      <input type="email" name="email" id="email" class="form-control" required="required"  th:value="${emailValue}"/>
	      <br />
	      <button class="btn" type="submit">찾기</button>
	    </form>
	  </div>
	  <div th:if="${idValue != ''}">
		  <div th:if="${value != null}" class="result mt-5">
		    <p th:text="'비밀번호는 '+${value}+'입니다'"></p>
		      <br/>
		      <button class="btn" onclick="window.close()">닫기</button>
		  </div>
		  <div th:unless="${value != null}" class="result mt-5">
		  	<p>일치하는 회원이 없습니다.</p>
		      <br/>
		      <button class="btn" onclick="window.close()">닫기</button>
		  </div>
	  </div>
  </div>
</main>
<!-- fontawesome -->
<script
        src="https://kit.fontawesome.com/f97d0d047b.js"
        crossorigin="anonymous"
></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<!--<script th:inline="javascript">
  $("#sendToParent").click(function(){
    var resultInput = $("#value").val();

    if($('#type').val() == 'id'){
      console.log("in if id");
      console.log(resultInput);
      document.getElementById('memID').value = resultInput;
    }
    else if($('#type').val() == 'email'){
      console.log("in if email");
      console.log(resultInput);
      opener.document.getElementById('memEmail').value = resultInput;
    }

    self.close();
  });
</script>-->
</body>
</html>
