<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - TOPVIEW</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="container mt-4">
        <p class="text-center border-bottom py-3">조회가 많은 상품</p>
		        <div class="row text-center" th:if="${boardList.isEmpty()}">
          <i class="fas fa-exclamation fa-7x my-5 col-12 caution"></i>
          <p class="col-12 font-weight-bold font-italic my-2" style="font-size:2rem; color:gray;">등록된 물품이 없습니다.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6" th:each="board, now: ${boardList}">
            <div class="card mb-4">
              <img
                      class="card-img-top"
                      th:src="${board.pdImg}"
                      alt="Thumbnail [100%x225]"
                      style="height: 225px; width: 100%; display: block;"
                      data-holder-rendered="true"
              />
              <div
                      th:if="${board.pdSell != 0}"
                      class="card-img-top d-flex justify-content-center align-items-center"
                      style="height: 225px; width: 100%; display: block;
                             background-color:black; opacity:0.5;
                             z-index:2; position:absolute; top:0"
                      data-holder-rendered="true"
              >
                <span class="text-weight-bold p-3"
                      style="border: 5px solid white; border-radius:10%; color:white;
                              font-size:1.5rem">판매 완료</span>
              </div>
              <div class="card-body">
                <p class="card-title" th:text="${board.bdTitle}">title</p>
                <p class="card-description" th:text="${board.bdContent}" style="text-overflow:ellipsis;">description</p>
                <p class="card-price" th:text="${board.pdPrice} + '원'">0,000원</p>
                <div
                        class="d-flex justify-content-between align-items-center"
                >
                  <div class="btn-group">
                    <a
                            th:if="${board.pdSell == 0}"
                            th:href="@{/board/detail(bdNo=${board.bdNo})}"
                            class="btn btn-sm btn-outline-secondary btn-focus"
                    >
                      더보기
                    </a>
                  </div>
                  <small class="text-muted" th:text="${board.bdView} + ' view'">조회수</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <a 
	    id="back-to-top" 
	    href="#" 
	    class="back-to-top far fa-arrow-alt-circle-up fa-3x" 
	    role="button" 
	    style="text-decoration: none; "
    ></a>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
 	 $(document).ready(function(){
		$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 400);
				return false;
			});
	});
</script>
  </body>
</html>
