<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 회원가입</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="text-center container mt-5">
        <form
                th:action="@{join}"
                th:object="${memberDTO}"
                class="form-signin col-12 col-sm-10 col-md-8"
                style="float: none; margin: 0 auto"
                method="POST"
                modelAttribute="memberDTO"
        >
          <h1
                  class="
                  h5
                  font-weight-bold font-weight-normal
                  color-blue
                  mb-3
                  pb-3
                  border-bottom
                "
          >
            회원가입
          </h1>
          <!-- 아이디 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              아이디
            </p>
            <input
                    th:field="*{memID}"
                    th:value="${memberDTO.memID}"
                    type="text"
                    id="memID"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합"
            />
            <div
                    class="btn btn-sm btn-focus col-2 my-auto checkIdBtn"
                    role="button"
                    aria-pressed="true"
            >중복 확인
            </div>
            <small class="errorMessage col-12" th:text="${valid_memID}"></small>
          </div>
          <!-- 비밀번호 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              비밀번호
            </p>
            <input
                    th:field="*{memPw}"
                    type="password"
                    id="memPw"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="8자이상의 비밀번호를 입력해주세요"

            />
            <small class="errorMessage col-12" th:text="${valid_memPw}"></small>
          </div>
          <!-- 비밀번호 확인 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              비밀번호 확인
            </p>
            <input
                    type="password"
                    id="ConfirmPassword"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="비밀번호를 한번 더 입력해주세요"

            />
            <div class="check_password col-12" id="pw_check"></div>
          </div>
          <!-- 이름 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              이름
            </p>
            <input
                    th:field="*{memName}"
                    th:value="${memberDTO.memName}"
                    type="text"
                    id="memName"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="이름을 입력해주세요"

            />
            <small class="errorMessage col-12" th:text="${valid_memName}"></small>
          </div>
          <!-- 이메일 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              이메일
            </p>
            <input
                    th:field="*{memEmail}"
                    th:value="${memberDTO.memEmail}"
                    type="email"
                    id="memEmail"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="이메일을 입력해주세요"

            />

            <div
                    class="btn btn-sm btn-focus col-2 my-auto checkEmailBtn"
                    role="button"
                    aria-pressed="true"
            >중복 확인</div
            >
            <small class="errorMessage col-12" th:text="${valid_memEmail}"></small>
          </div>
          <!-- 휴대폰 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              휴대폰
            </p>
            <input
                    th:field="*{memPhone}"
                    th:value="${memberDTO.memPhone}"
                    type="text"
                    id="memPhone"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="숫자만 입력해주세요"

            />
            <a
                    href="#"
                    class="btn btn-sm btn-focus col-2 my-auto"
                    role="button"
                    aria-pressed="true"
            >인증번호 받기</a
            >
            <small class="errorMessage col-12" th:text="${valid_memPhone}"></small>
          </div>
          <!-- 주소 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              주소
            </p>
            <input
                    th:field="*{memAdrs}"
                    th:value="${memberDTO.memAdrs}"
                    type="text"
                    id="memAdrs"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="주소를 입력해주세요"

            />
            <small class="errorMessage col-12" th:text="${valid_memAdrs}"></small>
          </div>
          <!-- 생일 -->
          <div class="row">
            <p
                    class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
                    style="margin: 0"
            >
              생일
            </p>
            <input
                    th:field="*{memBday}"
                    th:value="${memberDTO.memBday}"
                    type="date"
                    id="memBday"
                    class="form-control my-3 col-6 mx-2"

            />
            <small class="errorMessage col-12" th:text="${valid_memBday}"></small>
          </div>
          <button
                  class="btn btn-lg btn-block btn-focus my-2 col-5 mt-5"
                  style="float: none; margin: 0 auto"
                  type="submit"
          >
            회원가입
          </button>
          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>
      </div>
    </main>
    <!-- fontawesome -->
    <script
            src="https://kit.fontawesome.com/f97d0d047b.js"
            crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
    <script src="/js/popup.js"></script>
    <script th:inline="javascript">
      $("#ConfirmPassword").blur(function(){
          console.log("blur out");
          if($('#memPw').val() != $("#ConfirmPassword").val()) {
            console.log("불일치");
            $("#pw_check").text("비밀번호가 일치하지 않습니다.");
            $("#pw_check").css("color", "red");
            $("#pw_check").attr("disabled",true);
          }
          else {
            console.log("일치");
            $("#pw_check").text("");
            $("#pw_check").attr("disabled",false);
          }
      });

    </script>
  </body>
</html>
