<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 로그인</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="text-center container mt-5">
        <form
          th:action="@{login}"
          th:object="${loginDTO}"
          class="form-signin col-8 col-sm-6 col-md-4"
          style="float: none; margin: 0 auto"
          method="post"
        >
          <h1
            class="h5 font-weight-bold mb-3 font-weight-normal color-blue my-3"
          >
            로그인
          </h1>
          <label for="inputId" class="sr-only">ID</label>
          <input
            type="text"
            id="inputId"
            class="form-control my-3"
            placeholder="ID"
            th:field="*{memID}"
          />
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control my-3"
            placeholder="Password"
            th:field="*{memPW}"
          />
          <div class="mb-3 text-muted text-right fs-08rem">
            <a class="findIdBtn" href="/member/findId">아이디 찾기</a>
            |
            <a class="findPwBtn" aria-pressed="true">비밀번호 찾기</a>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-block btn-focus my-2" type="submit">
            로그인
          </button>
          <a class="btn btn-lg btn-block btn-notFocus my-2" href="/member/join">
            회원가입
          </a>
          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>
      </div>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/popup.js"></script>
  </body>
</html>
