<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 내 물건 목록</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="album py-5">
        <div class="container">
          <div th:if="${memName != null}">
            <a class="btn btn-focus my-2" href="/board/upload">내 물건 올리기</a>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6" th:each="product, now: ${productList}">
              <div class="card mb-4">
                <img
                        class="card-img-top"
                        th:src="${product.pdImg}"
                        alt="Thumbnail [100%x225]"
                        style="height: 225px; width: 100%; display: block"
                        src="/getImg"
                        data-holder-rendered="true"
                />
                <div class="card-body">
                  <p class="card-title" th:text="${product.pdName}">물품이름</p>
                  <p class="card-price" th:text="${product.pdPrice} + '원'">0,000원</p>
<!--                  <p class="card-description" th:text="${product.pdUpDate}">업로드 날짜</p>-->

                  <div
                          class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <a
                              th:href="@{/board/detail(bdNo=${product.bdNo})}"
                              class="btn btn-sm btn-outline-secondary btn-focus"
                      >
                        View
                      </a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
    <!-- fontawesome -->
    <script
            src="https://kit.fontawesome.com/f97d0d047b.js"
            crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
  </body>
</html>
