<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 마이페이지</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="text-center container mt-5">
         <input type="hidden" id="type" th:value="${type}"/>

          <div class="text-center my-4 col-12 col-sm-10 col-md-8" style="float: none; margin: 0 auto">
            <h1
                    class="
              h5
              font-weight-bold font-weight-normal
              color-blue
              mb-3
              pb-3
              border-bottom
            "
            >
              내 거래 정보
            </h1>
            <div class="d-flex justify-content-center" style="float: none; margin: 0 auto">
              <a class="btn btn-focus my-2 mx-2" th:href="@{mylist(memID=${memID})}">내가 올린 물건</a>
              <a class="btn btn-focus my-2 mx-2 dealBtn" style="color:white;">내가 거래한 물건</a>
            </div>

          </div>

	        <form
	          th:action="@{mypage(memNo=${memNo})}"
	          th:object="${memberDTO}"
	          class="form-signin col-12 col-sm-10 col-md-8"
	          style="float: none; margin: 0 auto"
	          method="POST"
	        >
            <h1
                    class="
              h5
              font-weight-bold font-weight-normal
              color-blue
              mb-3
              pb-3
              border-bottom
            "
            >
              회원정보 수정
            </h1>
            <div class="row">
              <p
                      class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
                    style="margin: 0"
            >
              이름
            </p>
            <input
                    th:field="*{memName}"
                    th:value="${memberDTO.memName}"
                    type="text"
                    id="memName"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="이름"
                    required=""
                    autofocus=""
                    readonly="readonly"
            />
          </div>
          <div class="row">
            <p
              class="

                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              비밀번호
            </p>
            <input
              th:field="*{memPW}"
              type="password"
              id="memPW"
              class="form-control my-3 col-6 mx-2"
              placeholder="비밀번호"
              required=""
              autofocus=""
            />
          </div>
            <div class="row">
              <p
                      class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              비밀번호 확인
            </p>
            <input
              type="password"
              id="ConfirmPassword"
              class="form-control my-3 col-6 mx-2"
              placeholder="비밀번호"
              required=""
              autofocus=""
            />
          </div>
            <div class="row">
              <p
                      class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              휴대폰
            </p>
            <input
              th:field="*{memPhone}"
              th:value="${memberDTO.memPhone}"
              type="text"
              id="memPhone"
              class="form-control my-3 col-6 mx-2"
              placeholder="숫자만 입력해주세요"
              required=""
              autofocus=""
            />
          </div>
          <div class="row">
            <p
                class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
               style="margin: 0"
              >
              주소
            </p>
            <input
              th:field="*{memAdrs}"
              th:value="${memberDTO.memAdrs}"
              type="text"
              id="memAdrs"
              class="form-control my-3 col-6 mx-2"
              placeholder="주소를 입력해주세요"
              required=""
              autofocus=""
            />
          </div>
          <button
            class="btn btn-lg btn-block btn-focus my-2 col-5 mt-5"
            style="float: none; margin: 0 auto"
            type="submit"
          >
            수정하기
          </button>
        </form>
		
        <div th:unless="${memName != null}">
            <i class="fas fa-exclamation fa-7x my-5 col-12 caution"></i>
            <p class="col-12 font-weight-bold font-italic my-2" style="font-size:2rem; color:gray;">잘못된 접근입니다.</p>
        </div>

		<div class="text-center my-4 col-12 col-sm-10 col-md-8" style="float: none; margin: 0 auto">
            <h1
                    class="
              h5
              font-weight-bold font-weight-normal
              color-blue
              mb-3
              pb-3
              border-bottom
            "
            >
              회원 탈퇴
            </h1>
            <div class="d-flex justify-content-center" style="float: none; margin: 0 auto">
	           <a
	            class="btn btn-lg btn-notFocus my-2 col-5 mt-5"
	            th:href="@{delete(memNo=${memberDTO.memNo})}"
	            onclick="return confirm('탈퇴하시겠습니까?');"
	          >
	            탈퇴하기
	          </a>
            </div>
         </div>
                   <p class="mt-5 mb-3 text-muted">© 2021</p>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  <script th:inline="javascript">

    $(".dealBtn").click(function(){
      var url = "/member/mydeal";
      var winWidth = 600;
      var winHeight = 520;
      var popupOption = "width=" + winWidth + ", height=" + winHeight;

      var popup = window.open(url, "Cabinet - 거래 확인", popupOption);
    });


  </script>
  </body>
</html>
