<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 마이페이지</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header th:replace="/fragments/header.html :: header"></header>
    <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main>
      <div class="text-center container mt-5">
        <div th:if="${memName != null}">
          <a class="btn btn-focus my-2" th:href="@{mylist(memID=${memID})}">내가 올린 물건</a>
        </div>
        <div th:if="${memName != null}">
          <a class="btn btn-focus my-2" th:href="@{mydeal(memID=${memID})}">내가 거래한 물건</a>
        </div>
        <form
          class="form-signin col-12 col-sm-10 col-md-8"
          style="float: none; margin: 0 auto"
        >
          <h1
            class="
              h5
              font-weight-bold font-weight-normal
              color-blue
              mb-3
              pb-3
              border-bottom
            "
          >
            회원정보 수정
          </h1>
          <div class="row">
            <p
              class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              비밀번호
            </p>
            <input
              type="password"
              id="inputPassword"
              class="form-control my-3 col-6 mx-2"
              placeholder="비밀번호"
              required=""
              autofocus=""
            />
          </div>
          <div class="row">
            <p
                    class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
                    style="margin: 0"
            >
              이름
            </p>
            <input
                    type="text"
                    id="inputName"
                    class="form-control my-3 col-6 mx-2"
                    placeholder="이름"
                    required=""
                    autofocus=""
            />
          </div>
          <div class="row">
            <p
              class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              비밀번호 확인
            </p>
            <input
              type="password"
              id="ConfirmPassword"
              class="form-control my-3 col-6 mx-2"
              placeholder="비밀번호"
              required=""
              autofocus=""
            />
          </div>

          <div class="row">
            <p
              class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              휴대폰
            </p>
            <input
              type="text"
              id="inputPhone"
              class="form-control my-3 col-6 mx-2"
              placeholder="숫자만 입력해주세요"
              required=""
              autofocus=""
            />
          </div>
          <div class="row">
            <p
              class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              주소
            </p>
            <input
              type="text"
              id="inputAddress"
              class="form-control my-3 col-6 mx-2"
              placeholder="주소를 입력해주세요"
              required=""
              autofocus=""
            />
          </div>
          <div class="row">
            <p
              class="
                col-3
                text-center
                d-flex
                flex-column
                justify-content-center
                font-weight-bold
              "
              style="margin: 0"
            >
              생일
            </p>
            <input
              type="date"
              id="inputBDay"
              class="form-control my-3 col-6 mx-2"
              required=""
              autofocus=""
            />
          </div>
          <button
            class="btn btn-lg btn-block btn-focus my-2 col-5 mt-5"
            style="float: none; margin: 0 auto"
            type="submit"
          >
            수정하기
          </button>
          <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
      </div>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
