<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/img/logo.ico">
    <title>Cabinet - 소개</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <header class="blog-header py-3 container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <a href="/">
          <img
                  src="/img/logo.png"
                  alt="로고"
                  class="img-responsive center-block logo"
          />
        </a>
      </div>
      <div class="col-4 text-right">
        <a href="/board/cs">고객센터</a>
      </div>
    </div>
  </header>
  <nav class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <div class="dropdown">
          <button
                  class="btn btn-notFocus dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  style="background: none"
          >
            카테고리
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/board/intro">소개</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/all">거래 게시판</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/hot">핫플레이스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/event">이벤트</a>
      </li>
      <li class="nav-item search_wrap">
        <div class="ml-2 my-1">
          <form>
            <input
                    class="search-input"
                    type="text"
                    placeholder="검색"
                    style="width: 10rem"
            />
            <button class="search-btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">
          <i class="fas fa-sign-in-alt fa-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="join.html">
          <i class="fas fa-user-plus fa-lg"></i>
        </a>
      </li>
    </ul>
  </nav>
    <main>
      <div class="card mb-3">
        <img
          class="card-img-top"
          src="/img/cabinet05.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Cabinet</h5>
          <p class="card-text">
            사용자 간의 자유로운 중고 물품 거래를 도와주는 웹 페이지, <br />
            사용자가 직접 물품을 등록할 수 있고 거래 방식을 직거래 혹은 사물함
            이용으로 선택할 수 있다.
          </p>
        </div>
      </div>
    </main>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
