<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cabinet - 거래</title>
    <!-- 부트스트랩 -->
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <header th:replace="/fragments/header.html :: header"></header>
  <nav th:replace="/fragments/nav.html :: nav"></nav>
    <main class="container text-center">
      <h1 class="h5 font-weight-bold my-5 font-weight-normal color-blue my-3">
        물건 올리기
      </h1>
      <form th:action="@{upload}" class="col-12" style="float: none; margin: 0 auto" method="POST" enctype="multipart/form-data">
        <section class="title-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
                  for="bdTitle"
          >제목</label
          >
          <input
                  th:field="*{boardDTO.bdTitle}"
                  type="text"
                  class="form-control my-3 col-6 mx-2"
                  id="bdTitle"
          />
        </section>
        <section class="title-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
                  for="pdName"
          >제품이름</label
          >
          <input
                  th:field="*{productDTO.pdName}"
                  type="text"
                  class="form-control my-3 col-6 mx-2"
                  id="pdName"
          />
        </section>
        <section class="category-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
          >카테고리</label
          >
          <select name="language" class="category" th:field="*{productDTO.ctNo}" >
            <option th:each="category, now:${categories}" th:value="${category.ctNo}" th:text="${category.ctType}"></option>
          </select>
        </section>
        <section class="type-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
          >거래방법</label
          >
          <select th:field="*{productDTO.dealType}">
            <option th:value="'01'" th:text="직거래" selected>한국어</option>
            <option th:value="'02'" th:text="캐비넷">영어</option>
          </select>
        </section>
        <section class="price-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
                  for="bdPrice"
          >가격</label
          >
          <input
                  th:field="*{productDTO.pdPrice}"
                  type="text"
                  class="form-control my-3 col-6 mx-2"
                  id="bdPrice"
          />
        </section>
        <section class="content-section row">
          <label
                  class="
                  col-3
                  text-center
                  d-flex
                  flex-column
                  justify-content-center
                  font-weight-bold
                "
                  for="bdContent"
          >내용</label
          >
          <textarea
                  th:field="*{boardDTO.bdContent}"
                  type="text"
                  class="form-control my-3 col-6 mx-2"
                  id="bdContent"
                  style="height: 15rem"
          ></textarea>
        </section>
        <section class="file-section row">
          <label
                  class="
                    col-3
                    text-center
                    d-flex
                    flex-column
                    justify-content-center
                    font-weight-bold
                  "
          >사진</label
          >
          <div class="input-group my-3 col-6 mx-2">
            <div class="custom-file">
              <input
                      type="file"
                      name="file"
                      class="custom-file-input"
                      id="inputGroupFile04"
              />
              <label class="custom-file-label" for="inputGroupFile04" 
              >사진을 선택하세요</label
              >
            </div>
          </div>
        </section>
        <button class="btn btn-focus my-5" style="width: 5rem">올리기</button>
        <a class="btn btn-notFocus my-5" href="all" style="width: 5rem"
        >취소</a
        >
      </form>
    </main>
    <!-- fontawesome -->
    <script
            src="https://kit.fontawesome.com/f97d0d047b.js"
            crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
    ></script>
  </body>
</html>
